## This is a starter program for cleaning and merging various files for this week's assignment

In [1]:
# -------------------------
# importing dependencies
# -------------------------
import pandas as pd
import random
import os

## Step 1: 
Importing a few Redfin listing files and stacking them on top of each other

In [57]:
%cd '/Users/trangtran/Library/CloudStorage/OneDrive-NortheasternUniversity/MPSA/ALY6020 - Predictive Analytics/M4'

folder_path = 'Assignment Data'
listoffiles = []

# List all files in the folder
files = os.listdir(folder_path)

# Iterate through the files and select only CSV files
for file in files:
    if file.endswith(".csv"):
        file_path = os.path.join(folder_path, file)
        listoffiles.append(file_path)

# Print or use the list of CSV files as needed
print("List of CSV files:", listoffiles)
 
# --------------------------------------------------
#  Read each CSV file and stack them on top of each other
# --------------------------------------------------
stacked_dataframes = pd.concat([pd.read_csv(f) for f in listoffiles])

stacked_dataframes.shape

/Users/trangtran/Library/CloudStorage/OneDrive-NortheasternUniversity/MPSA/ALY6020 - Predictive Analytics/M4
List of CSV files: ['Assignment Data/redfin_2023-11-22-12-37-12.csv', 'Assignment Data/redfin_2023-11-22-12-35-17.csv', 'Assignment Data/redfin_2023-11-22-12-35-03.csv', 'Assignment Data/redfin_2023-11-22-12-38-57.csv', 'Assignment Data/redfin_2023-11-22-12-33-49.csv', 'Assignment Data/redfin_2023-11-22-12-34-40.csv', 'Assignment Data/redfin_2023-11-22-12-35-28.csv', 'Assignment Data/redfin_2023-11-22-12-37-38.csv', 'Assignment Data/redfin_2023-11-22-12-35-39.csv', 'Assignment Data/redfin_2023-11-22-12-34-52.csv', 'Assignment Data/redfin_2023-11-22-12-38-46.csv', 'Assignment Data/redfin_2023-11-22-12-38-37.csv', 'Assignment Data/redfin_2023-11-22-12-38-27.csv', 'Assignment Data/redfin_2023-11-22-12-34-18.csv', 'Assignment Data/redfin_2023-11-22-12-33-08.csv', 'Assignment Data/redfin_2023-11-22-12-34-29.csv', 'Assignment Data/redfin_2023-11-22-12-37-50.csv', 'Assignment Data/redfin_2023-11-22-12-32-48.csv', 'Assignment Data/redfin_2023-11-22-12-33-37.csv', 'Assignment Data/redfin_2023-11-22-12-38-02.csv', 'Assignment Data/redfin_2023-11-22-12-33-22.csv', 'Assignment Data/redfin_2023-11-22-12-34-03.csv', 'Assignment Data/redfin_2023-11-22-12-38-13.csv', 'Assignment Data/redfin_2023-11-22-12-37-27.csv', 'Assignment Data/redfin_2023-11-22-12-32-29.csv']

(7107, 27)

In [58]:
stacked_dataframes

,SALE TYPE,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,...,STATUS,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING),SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE
0,MLS Listing,NaN,Single Family Residential,15 Wells Village Rd,Sandown,NH,03873,739900,4.0,3.5,...,Active,NaN,NaN,https://www.redfin.com/NH/Sandown/15-Wells-Vil...,PrimeMLS,4974856,N,Y,42.926063,-71.201361
1,MLS Listing,NaN,Single Family Residential,6 Quaker Ln,Seabrook,NH,03874,789900,4.0,4.0,...,Active,NaN,NaN,https://www.redfin.com/NH/Seabrook/6-Quaker-Ln...,PrimeMLS,4974756,N,Y,42.876618,-70.862511
2,MLS Listing,NaN,Single Family Residential,3 Evergreen Way,East Kingston,NH,03827,925500,4.0,2.5,...,Active,NaN,NaN,https://www.redfin.com/NH/East-Kingston/3-Ever...,PrimeMLS,4965067,N,Y,42.947545,-71.004390
3,MLS Listing,NaN,Condo/Co-op,49 Stephen C Savage Way Unit 5,Plaistow,NH,03865,730000,3.0,2.5,...,Active,NaN,NaN,https://www.redfin.com/NH/Plaistow/49-Stephen-...,PrimeMLS,4978509,N,Y,42.837823,-71.091518
4,MLS Listing,NaN,Multi-Family (5+ Unit),74 Railroad Ave,Epping,NH,03042,975000,10.0,6.0,...,Active,NaN,NaN,https://www.redfin.com/NH/Epping/74-Railroad-A...,PrimeMLS,4978466,N,Y,43.032978,-71.074244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,MLS Listing,NaN,Vacant Land,Lot 2 Woodland Dr,Kennebunkport,ME,04046,1950000,NaN,NaN,...,Active,NaN,NaN,https://www.redfin.com/ME/Kennebunkport/2-Wood...,MREIS,1573725,N,Y,43.364454,-70.438091
346,MLS Listing,NaN,Single Family Residential,1145 Main St,Waterboro,ME,04087,749900,3.0,2.0,...,Active,NaN,NaN,https://www.redfin.com/ME/Waterboro/1145-Main-...,MREIS,1573730,N,Y,43.521713,-70.720014
347,MLS Listing,NaN,Mobile/Manufactured Home,117 Bears Den Rd #50,Wells,ME,04090,74900,2.0,1.0,...,Active,NaN,NaN,https://www.redfin.com/ME/Wells/117-Bears-Den-...,MREIS,1573689,N,Y,43.307194,-70.650093
348,MLS Listing,NaN,Single Family Residential,29 Huntington Way,Kittery,ME,03904,695000,3.0,2.5,...,Active,NaN,NaN,https://www.redfin.com/ME/Kittery/29-Huntingto...,PrimeMLS,4972400,N,Y,43.136339,-70.720261
349,MLS Listing,NaN,Single Family Residential,32 Harrison Ave,Biddeford,ME,04005,499900,4.0,1.0,...,Active,NaN,NaN,https://www.redfin.com/ME/Biddeford/32-Harriso...,MREIS,1573677,N,Y,43.484535,-70.457866

In [59]:
stacked_dataframes.columns

Index(['SALE TYPE', 'SOLD DATE', 'PROPERTY TYPE', 'ADDRESS', 'CITY',
       'STATE OR PROVINCE', 'ZIP OR POSTAL CODE', 'PRICE', 'BEDS', 'BATHS',
       'LOCATION', 'SQUARE FEET', 'LOT SIZE', 'YEAR BUILT', 'DAYS ON MARKET',
       '$/SQUARE FEET', 'HOA/MONTH', 'STATUS', 'NEXT OPEN HOUSE START TIME',
       'NEXT OPEN HOUSE END TIME',
       'URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)',
       'SOURCE', 'MLS#', 'FAVORITE', 'INTERESTED', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [60]:
stacked_dataframes = stacked_dataframes.drop(columns = ['SALE TYPE', 'SOLD DATE', 'ADDRESS', 'CITY',
       'LOCATION', 'HOA/MONTH', 'STATUS', 'NEXT OPEN HOUSE START TIME',
       'NEXT OPEN HOUSE END TIME',
       'URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)',
       'SOURCE', 'MLS#', 'FAVORITE', 'INTERESTED'])

stacked_dataframes

,PROPERTY TYPE,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,SQUARE FEET,LOT SIZE,YEAR BUILT,DAYS ON MARKET,$/SQUARE FEET,LATITUDE,LONGITUDE
0,Single Family Residential,NH,03873,739900,4.0,3.5,4097.0,50093.0,1983.0,34,181.0,42.926063,-71.201361
1,Single Family Residential,NH,03874,789900,4.0,4.0,3900.0,31363.0,1999.0,34,203.0,42.876618,-70.862511
2,Single Family Residential,NH,03827,925500,4.0,2.5,4801.0,98881.0,1994.0,104,193.0,42.947545,-71.004390
3,Condo/Co-op,NH,03865,730000,3.0,2.5,2134.0,NaN,2023.0,1,342.0,42.837823,-71.091518
4,Multi-Family (5+ Unit),NH,03042,975000,10.0,6.0,4740.0,36154.0,1883.0,1,206.0,43.032978,-71.074244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,Vacant Land,ME,04046,1950000,NaN,NaN,NaN,190357.0,NaN,51,NaN,43.364454,-70.438091
346,Single Family Residential,ME,04087,749900,3.0,2.0,2400.0,60983.0,1989.0,51,312.0,43.521713,-70.720014
347,Mobile/Manufactured Home,ME,04090,74900,2.0,1.0,491.0,NaN,2008.0,51,153.0,43.307194,-70.650093
348,Single Family Residential,ME,03904,695000,3.0,2.5,1690.0,9583.0,2020.0,51,411.0,43.136339,-70.720261
349,Single Family Residential,ME,04005,499900,4.0,1.0,1726.0,8712.0,1948.0,51,290.0,43.484535,-70.457866

## Step 2:
### Part a: Importing the Health related metrics file and converting it to cross sectional form

In [61]:
%cd '/Users/trangtran/Library/CloudStorage/OneDrive-NortheasternUniversity/MPSA/ALY6020 - Predictive Analytics/M4/Assignment Data/Census/Places_Health_Data'

zcta_sample = pd.read_csv('PLACES__Local_Data_for_Better_Health__ZCTA_Data_2023_release.csv')

# Filter columns
data_filtered = zcta_sample[['LocationID', 'Data_Value', 'Geolocation', 'MeasureId', 'TotalPopulation']]

# Converting longitudinal data to cross-sectional by making 'MeasureId' as columns
data_cross_sectional = data_filtered.pivot(index='LocationID', columns='MeasureId', values='Data_Value')

# Converting 'LocationID' to a five-digit ZIP code column with a leading zero where it's missing
data_cross_sectional.index = data_cross_sectional.index.map(lambda x: f"{int(x):05d}")

# Resetting the index to make 'LocationID' a regular column
data_cross_sectional.reset_index(inplace=True)

data_cross_sectional

/Users/trangtran/Library/CloudStorage/OneDrive-NortheasternUniversity/MPSA/ALY6020 - Predictive Analytics/M4/Assignment Data/Census/Places_Health_Data

/var/folders/3h/631y9grn15xf3n6ybqs6vrp40000gn/T/ipykernel_32924/3483217703.py:3: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  zcta_sample = pd.read_csv('PLACES__Local_Data_for_Better_Health__ZCTA_Data_2023_release.csv')

MeasureId,LocationID,ACCESS2,ARTHRITIS,BINGE,BPHIGH,BPMED,CANCER,CASTHMA,CERVICAL,CHD,...,MAMMOUSE,MHLTH,MOBILITY,OBESITY,PHLTH,SELFCARE,SLEEP,STROKE,TEETHLOST,VISION
0,01001,4.1,33.7,15.6,33.8,78.9,9.1,11.4,85.6,6.8,...,82.1,16.3,14.3,31.8,11.3,3.5,33.5,3.3,13.3,4.2
1,01002,4.7,18.9,17.3,20.6,70.1,4.9,12.1,73.5,4.1,...,79.6,20.2,9.2,23.3,8.9,2.9,30.1,2.1,12.4,4.4
2,01003,6.9,5.5,19.3,9.4,19.8,0.7,15.4,46.7,1.0,...,77.5,33.8,4.0,22.2,8.5,2.2,33.1,0.7,NaN,6.4
3,01005,3.8,26.4,17.4,28.0,74.5,7.4,11.7,86.2,5.4,...,82.2,16.2,10.7,31.4,10.0,2.9,32.5,2.7,12.1,3.4
4,01007,3.3,25.2,18.1,24.5,73.3,6.9,10.7,85.4,4.4,...,79.1,14.7,9.4,25.7,8.9,2.5,30.0,2.3,9.2,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404,99923,6.5,29.0,17.5,33.0,75.5,8.8,8.6,81.8,6.1,...,65.8,11.5,11.0,33.1,10.8,2.9,27.3,3.1,8.3,3.3
32405,99925,12.0,28.6,17.2,35.3,71.7,7.1,11.0,77.9,7.6,...,66.1,17.0,16.5,40.3,15.2,5.0,33.1,4.2,19.0,6.5
32406,99926,13.9,25.9,18.6,34.0,67.0,5.8,12.1,77.2,7.3,...,63.8,19.8,17.5,43.0,16.4,5.5,36.1,4.4,24.3,7.7
32407,99927,12.4,28.4,17.5,36.4,73.4,7.0,9.8,76.1,8.2,...,63.1,15.7,16.0,39.3,15.0,5.4,31.5,4.0,18.5,6.5
32408,99929,10.6,28.1,16.9,34.5,72.9,7.7,10.2,79.2,7.1,...,64.6,15.3,14.5,33.8,13.5,4.2,30.3,3.7,15.7,5.3

In [62]:
# Convert 'LocationID' to int in both DataFrames
data_cross_sectional['LocationID'] = data_cross_sectional['LocationID'].astype(int)
data_filtered['LocationID'] = data_filtered['LocationID'].astype(int)

# merge the cross-sectional table with the original data to get 'Geolocation' and 'TotalPopulation'values
health_data = pd.merge(data_cross_sectional, data_filtered[['LocationID', 'Geolocation', 'TotalPopulation']],
                       on='LocationID', how='left')

# Drop duplicates based on 'LocationID'
health_data = health_data.drop_duplicates(subset='LocationID', keep='first')

# Reset the index
health_data.reset_index(drop=True, inplace=True)

health_data

/var/folders/3h/631y9grn15xf3n6ybqs6vrp40000gn/T/ipykernel_32924/3756220803.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered['LocationID'] = data_filtered['LocationID'].astype(int)

,LocationID,ACCESS2,ARTHRITIS,BINGE,BPHIGH,BPMED,CANCER,CASTHMA,CERVICAL,CHD,...,MOBILITY,OBESITY,PHLTH,SELFCARE,SLEEP,STROKE,TEETHLOST,VISION,Geolocation,TotalPopulation
0,1001,4.1,33.7,15.6,33.8,78.9,9.1,11.4,85.6,6.8,...,14.3,31.8,11.3,3.5,33.5,3.3,13.3,4.2,POINT (-72.62581515 42.06255509),16769
1,1002,4.7,18.9,17.3,20.6,70.1,4.9,12.1,73.5,4.1,...,9.2,23.3,8.9,2.9,30.1,2.1,12.4,4.4,POINT (-72.4509085 42.38758794),29049
2,1003,6.9,5.5,19.3,9.4,19.8,0.7,15.4,46.7,1.0,...,4.0,22.2,8.5,2.2,33.1,0.7,NaN,6.4,POINT (-72.52475918 42.39190728),10372
3,1005,3.8,26.4,17.4,28.0,74.5,7.4,11.7,86.2,5.4,...,10.7,31.4,10.0,2.9,32.5,2.7,12.1,3.4,POINT (-72.10611705 42.42009493),5079
4,1007,3.3,25.2,18.1,24.5,73.3,6.9,10.7,85.4,4.4,...,9.4,25.7,8.9,2.5,30.0,2.3,9.2,3.0,POINT (-72.40031647 42.27869142),14649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404,99923,6.5,29.0,17.5,33.0,75.5,8.8,8.6,81.8,6.1,...,11.0,33.1,10.8,2.9,27.3,3.1,8.3,3.3,POINT (-130.0418343 55.97925137),87
32405,99925,12.0,28.6,17.2,35.3,71.7,7.1,11.0,77.9,7.6,...,16.5,40.3,15.2,5.0,33.1,4.2,19.0,6.5,POINT (-132.9599966 55.54983434),819
32406,99926,13.9,25.9,18.6,34.0,67.0,5.8,12.1,77.2,7.3,...,17.5,43.0,16.4,5.5,36.1,4.4,24.3,7.7,POINT (-131.4947053 55.12932367),1460
32407,99927,12.4,28.4,17.5,36.4,73.4,7.0,9.8,76.1,8.2,...,16.0,39.3,15.0,5.4,31.5,4.0,18.5,6.5,POINT (-133.511342 56.26385195),94
32408,99929,10.6,28.1,16.9,34.5,72.9,7.7,10.2,79.2,7.1,...,14.5,33.8,13.5,4.2,30.3,3.7,15.7,5.3,POINT (-131.6992663 56.36477625),2338

## Step 2
### Part b: Merging the two Redfin and Health data files

In [63]:

redfin_health = stacked_dataframes.merge(health_data, left_on='ZIP OR POSTAL CODE', right_on='LocationID',how = 'left')

redfin_health

,PROPERTY TYPE,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,SQUARE FEET,LOT SIZE,YEAR BUILT,DAYS ON MARKET,...,MOBILITY,OBESITY,PHLTH,SELFCARE,SLEEP,STROKE,TEETHLOST,VISION,Geolocation,TotalPopulation
0,Single Family Residential,NH,03873,739900,4.0,3.5,4097.0,50093.0,1983.0,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Single Family Residential,NH,03874,789900,4.0,4.0,3900.0,31363.0,1999.0,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Single Family Residential,NH,03827,925500,4.0,2.5,4801.0,98881.0,1994.0,104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Condo/Co-op,NH,03865,730000,3.0,2.5,2134.0,NaN,2023.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Multi-Family (5+ Unit),NH,03042,975000,10.0,6.0,4740.0,36154.0,1883.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7102,Vacant Land,ME,04046,1950000,NaN,NaN,NaN,190357.0,NaN,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7103,Single Family Residential,ME,04087,749900,3.0,2.0,2400.0,60983.0,1989.0,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7104,Mobile/Manufactured Home,ME,04090,74900,2.0,1.0,491.0,NaN,2008.0,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7105,Single Family Residential,ME,03904,695000,3.0,2.5,1690.0,9583.0,2020.0,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7106,Single Family Residential,ME,04005,499900,4.0,1.0,1726.0,8712.0,1948.0,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Step 3: Population file

In [64]:

%cd '/Users/trangtran/Library/CloudStorage/OneDrive-NortheasternUniversity/MPSA/ALY6020 - Predictive Analytics/M4/Assignment Data/Census/Population_Age_Sex_productDownload_2023-11-27T141725'

# Load the CSV file

pop = pd.read_csv('ACSST5Y2020.S0101-Data.csv')

# ------------------------------------------------------------------------
# Eliminating the first two rows from the dataframe
# ------------------------------------------------------------------------
pop_modified = pop.drop([0, 1])

# ------------------------------------------------------------------------
# Keeping the first ten columns plus the 14th, 17th, and 20th columns. 
# This is an example to reduce the size of the table
# ------------------------------------------------------------------------
columns_to_keep = pop_modified.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 16, 19]]
pop_modified_2 = pop_modified[columns_to_keep]

# Display the first five rows of the dataframe with selected columns
pop_modified_2.head()

# ------------------------------------------------------------------------
# Fixing the ZIp code column by keeping only the last five characters 
# ------------------------------------------------------------------------

pop_modified_2['NAME'] = pop_modified_2['NAME'].str[-5:]

# ------------------------------------------------------------------------
# Displaying the first few rows of the dataframe to verify the changes
# ------------------------------------------------------------------------
pop_modified_2.head()


# Now this file can be merged with the cleaned file above

/Users/trangtran/Library/CloudStorage/OneDrive-NortheasternUniversity/MPSA/ALY6020 - Predictive Analytics/M4/Assignment Data/Census/Population_Age_Sex_productDownload_2023-11-27T141725

/var/folders/3h/631y9grn15xf3n6ybqs6vrp40000gn/T/ipykernel_32924/73132263.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_modified_2['NAME'] = pop_modified_2['NAME'].str[-5:]

,GEO_ID,NAME,S0101_C01_001E,S0101_C01_001M,S0101_C01_002E,S0101_C01_002M,S0101_C01_003E,S0101_C01_003M,S0101_C01_004E,S0101_C01_004M,S0101_C01_006M,S0101_C01_008E,S0101_C01_009M
2,8600000US03579,03579,341,84,0,12,2,3,17,17,12,7,12
3,8600000US03901,03901,7930,196,477,212,432,185,647,375,192,421,260
4,8600000US03902,03902,1928,553,36,58,79,91,142,106,43,138,112
5,8600000US03903,03903,6767,18,342,170,241,174,309,176,82,348,177
6,8600000US03904,03904,8068,439,476,198,312,138,196,76,187,544,112

In [99]:
# merge pop data with redfin_health data
redfin_health_pop = redfin_health.merge(pop_modified_2, left_on='ZIP OR POSTAL CODE', right_on='NAME',how = 'left')

redfin_health_pop.head()

,PROPERTY TYPE,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,SQUARE FEET,LOT SIZE,YEAR BUILT,DAYS ON MARKET,...,S0101_C01_001M,S0101_C01_002E,S0101_C01_002M,S0101_C01_003E,S0101_C01_003M,S0101_C01_004E,S0101_C01_004M,S0101_C01_006M,S0101_C01_008E,S0101_C01_009M
0,Single Family Residential,NH,03873,739900,4.0,3.5,4097.0,50093.0,1983.0,34,...,85,418,213,382,214,455,205,146,434,229
1,Single Family Residential,NH,03874,789900,4.0,4.0,3900.0,31363.0,1999.0,34,...,119,180,79,475,165,437,151,165,288,118
2,Single Family Residential,NH,03827,925500,4.0,2.5,4801.0,98881.0,1994.0,104,...,407,93,49,166,65,186,39,79,79,41
3,Condo/Co-op,NH,03865,730000,3.0,2.5,2134.0,NaN,2023.0,1,...,21,345,156,437,218,423,210,215,444,202
4,Multi-Family (5+ Unit),NH,03042,975000,10.0,6.0,4740.0,36154.0,1883.0,1,...,38,403,132,529,167,299,148,98,686,160

In [100]:
redfin_health_pop = redfin_health_pop.drop(columns = ['ZIP OR POSTAL CODE', 'GEO_ID', 'NAME'])
                       
redfin_health_pop

,PROPERTY TYPE,STATE OR PROVINCE,PRICE,BEDS,BATHS,SQUARE FEET,LOT SIZE,YEAR BUILT,DAYS ON MARKET,$/SQUARE FEET,...,S0101_C01_001M,S0101_C01_002E,S0101_C01_002M,S0101_C01_003E,S0101_C01_003M,S0101_C01_004E,S0101_C01_004M,S0101_C01_006M,S0101_C01_008E,S0101_C01_009M
0,Single Family Residential,NH,739900,4.0,3.5,4097.0,50093.0,1983.0,34,181.0,...,85,418,213,382,214,455,205,146,434,229
1,Single Family Residential,NH,789900,4.0,4.0,3900.0,31363.0,1999.0,34,203.0,...,119,180,79,475,165,437,151,165,288,118
2,Single Family Residential,NH,925500,4.0,2.5,4801.0,98881.0,1994.0,104,193.0,...,407,93,49,166,65,186,39,79,79,41
3,Condo/Co-op,NH,730000,3.0,2.5,2134.0,NaN,2023.0,1,342.0,...,21,345,156,437,218,423,210,215,444,202
4,Multi-Family (5+ Unit),NH,975000,10.0,6.0,4740.0,36154.0,1883.0,1,206.0,...,38,403,132,529,167,299,148,98,686,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7109,Vacant Land,ME,1950000,NaN,NaN,NaN,190357.0,NaN,51,NaN,...,18,362,132,386,92,501,143,207,498,338
7110,Single Family Residential,ME,749900,3.0,2.0,2400.0,60983.0,1989.0,51,312.0,...,733,208,122,113,77,142,105,173,53,156
7111,Mobile/Manufactured Home,ME,74900,2.0,1.0,491.0,NaN,2008.0,51,153.0,...,23,736,214,482,162,518,181,148,670,200
7112,Single Family Residential,ME,695000,3.0,2.5,1690.0,9583.0,2020.0,51,411.0,...,439,476,198,312,138,196,76,187,544,112
7113,Single Family Residential,ME,499900,4.0,1.0,1726.0,8712.0,1948.0,51,290.0,...,238,995,238,844,187,1207,186,367,1748,305

# Step 4: Handle missing values

In [101]:
redfin_health_pop.isnull().sum()

PROPERTY TYPE           0
STATE OR PROVINCE       0
PRICE                   0
BEDS                 2291
BATHS                2368
                     ...
S0101_C01_004E       4780
S0101_C01_004M       4780
S0101_C01_006M       4780
S0101_C01_008E       4780
S0101_C01_009M       4780
Length: 63, dtype: int64

In [104]:
# # -------------------------------------------------
# # Now Identify Missing Values for each column
# # -------------------------------------------------
missing_values_cols = redfin_health_pop.isnull().sum()

# # -------------------------------------------------
# # Print Missing Values
# # -------------------------------------------------
print(missing_values_cols)

# -------------------------------------------------
# Make a list of indices with Missing Values
# -------------------------------------------------
colstoremove = list(missing_values_cols[missing_values_cols>4000].index)

print(len(colstoremove))

# -------------------------------------------------
# Remove Cols with Too Many (you define what's too many) missing values
# -------------------------------------------------
redfin_health_pop_2 = redfin_health_pop.drop(columns = colstoremove)

print(f'Shape of the original data is {redfin_health_pop.shape}')
print(f'Shape of the reduced data is {redfin_health_pop_2.shape}')
print('------------')

PROPERTY TYPE           0
STATE OR PROVINCE       0
PRICE                   0
BEDS                 2291
BATHS                2368
                     ...
S0101_C01_004E       4780
S0101_C01_004M       4780
S0101_C01_006M       4780
S0101_C01_008E       4780
S0101_C01_009M       4780
Length: 63, dtype: int64
11
Shape of the original data is (7114, 63)
Shape of the reduced data is (7114, 52)
------------

In [105]:
redfin_health_pop_2.isnull().sum()

PROPERTY TYPE           0
STATE OR PROVINCE       0
PRICE                   0
BEDS                 2291
BATHS                2368
SQUARE FEET          2270
LOT SIZE              631
YEAR BUILT           2405
DAYS ON MARKET          0
$/SQUARE FEET        2270
LATITUDE                0
LONGITUDE               0
LocationID           2381
ACCESS2              2381
ARTHRITIS            2381
BINGE                2381
BPHIGH               2381
BPMED                2381
CANCER               2381
CASTHMA              2381
CERVICAL             2381
CHD                  2381
CHECKUP              2381
CHOLSCREEN           2381
COGNITION            2381
COLON_SCREEN         2381
COPD                 2381
COREM                2381
COREW                2381
CSMOKING             2381
DENTAL               2381
DEPRESSION           2381
DIABETES             2381
DISABILITY           2381
GHLTH                2381
HEARING              2381
HIGHCHOL             2381
INDEPLIVE            2381
KIDNEY               2381
LPA                  2381
MAMMOUSE             2381
MHLTH                2381
MOBILITY             2381
OBESITY              2381
PHLTH                2381
SELFCARE             2381
SLEEP                2381
STROKE               2381
TEETHLOST            2381
VISION               2381
Geolocation          2381
TotalPopulation      2381
dtype: int64

In [106]:
redfin_health_pop_3 = redfin_health_pop_2.dropna()

In [107]:
redfin_health_pop_3.shape

(2643, 52)

# Step 5: Create a binary response for Price column, standardization of numerical columns, and encoding of categorical features

In [108]:
# Create binary response variable based on the median of Price
median_price = redfin_health_pop_3['PRICE'].median()
redfin_health_pop_3['PRICE_cat2'] = redfin_health_pop_3['PRICE'].apply(lambda x: 'Low' if x <= median_price else 'High')

/var/folders/3h/631y9grn15xf3n6ybqs6vrp40000gn/T/ipykernel_32924/3641994696.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_health_pop_3['PRICE_cat2'] = redfin_health_pop_3['PRICE'].apply(lambda x: 'Low' if x <= median_price else 'High')

In [116]:
# Print only categorical columns
categorical_columns = redfin_health_pop_3.select_dtypes(include='object')
print(categorical_columns)

# Perform one-hot encoding on the categorical columns
encoded_features = pd.get_dummies(redfin_health_pop_3[['PROPERTY TYPE', 'STATE OR PROVINCE']])

# # Drop the original categorical columns
redfin_health_pop_4 = redfin_health_pop_3.drop(columns = ['PROPERTY TYPE', 'STATE OR PROVINCE'])

# # Concatenate the encoded features with the rest of the dataframe
redfin_health_pop_4 = pd.concat([redfin_health_pop_4, encoded_features], axis=1)
redfin_health_pop_4

                  PROPERTY TYPE STATE OR PROVINCE                 Geolocation  \
353   Single Family Residential                ME   (-67.52323389 44.7504547)
355   Single Family Residential                ME  (-67.59022932 45.20968349)
359   Single Family Residential                ME  (-67.57709749 44.46732871)
360   Single Family Residential                ME  (-67.94593191 44.50952278)
363   Single Family Residential                ME  (-67.98527892 44.75711841)
...                         ...               ...                         ...
6402    Multi-Family (2-4 Unit)                NH   (-71.6436663 43.92406615)
6403  Single Family Residential                NH  (-72.00934709 44.28507688)
6407  Single Family Residential                NH  (-71.58770869 43.75003202)
6411  Single Family Residential                NH   (-71.6847875 43.82113255)
6413                Condo/Co-op                NH    (-71.585201 44.05383054)

     PRICE_cat2
353         Low
355         Low
359        High
360        High
363        High
...         ...
6402       High
6403       High
6407       High
6411        Low
6413        Low

[2643 rows x 4 columns]

,PRICE,BEDS,BATHS,SQUARE FEET,LOT SIZE,YEAR BUILT,DAYS ON MARKET,$/SQUARE FEET,LATITUDE,LONGITUDE,...,PRICE_cat2,PROPERTY TYPE_Condo/Co-op,PROPERTY TYPE_Mobile/Manufactured Home,PROPERTY TYPE_Multi-Family (2-4 Unit),PROPERTY TYPE_Multi-Family (5+ Unit),PROPERTY TYPE_Single Family Residential,PROPERTY TYPE_Townhouse,STATE OR PROVINCE_ME,STATE OR PROVINCE_NH,STATE OR PROVINCE_VT
353,246000,3.0,2.0,1757.0,304920.0,1990.0,3,140.0,44.652725,-67.448621,...,Low,0,0,0,0,1,0,1,0,0
355,105000,1.0,1.0,468.0,39639.0,2013.0,4,224.0,45.221966,-67.572723,...,Low,0,0,0,0,1,0,1,0,0
359,799000,3.0,2.5,1912.0,21780.0,2013.0,5,418.0,44.516333,-67.584001,...,High,0,0,0,0,1,0,1,0,0
360,500000,3.0,2.0,2000.0,95832.0,1920.0,6,250.0,44.472038,-67.924914,...,High,0,0,0,0,1,0,1,0,0
363,450000,3.0,2.0,1944.0,945252.0,1986.0,7,231.0,44.741464,-68.014730,...,High,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6402,1750000,5.0,6.0,5423.0,43560.0,2022.0,144,323.0,43.872946,-71.604668,...,High,0,0,1,0,0,0,0,1,0
6403,1100000,3.0,2.5,2248.0,1368219.0,2008.0,145,489.0,44.248878,-72.047087,...,High,0,0,0,0,1,0,0,1,0
6407,7000000,4.0,3.5,4134.0,187308.0,1984.0,149,1693.0,43.732042,-71.552684,...,High,0,0,0,0,1,0,0,1,0
6411,260000,4.0,2.0,2333.0,9147.0,1890.0,154,111.0,43.865578,-71.637720,...,Low,0,0,0,0,1,0,0,1,0
6413,319000,3.0,1.0,1080.0,4356.0,1981.0,156,295.0,44.049695,-71.662330,...,Low,1,0,0,0,0,0,0,1,0

In [117]:
# save file
redfin_health_pop_4.to_csv('redfin_health_pop_clean.csv')